/* src/App.css */

/* Center align content */
.App {
  text-align: center;
}

/* Styling for the card containing the about content */
.card {
  margin-top: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: brown;
}

/* Styling for the navbar brand */
.navbar-brand {
  font-weight: bold;
  background-color: aqua;
}

/* Styling for the footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color:blue;
}
